LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT="Advanced_RAG"
TAVILY_API_KEY=Your_Tavily_API_KEY_HERE
GEMINI_API_KEY=Your_Gemini_Api_Key_HERE
