LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT="Advanced_RAG"
TAVILY_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6IH9GggXV_t0PR4EvjmWf5-YR9KQX-WfSP1jlzuDmVhbQ
