fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-classic
langchain-google-genai
langchain-chroma
pypdf
chromadb
python-multipart
rank_bm25
python-dotenv
pydantic
docx2txt
unstructured
openpyxl
pandas
